{% extends 'shared/site.html' %}
{% block site_content %}
    {% load static %}

    <div class="jumbotron parent">

        <img style="width: 100%"
             src="{% static './image_loading_page1.png' %}" class="img-fluid" alt="Responsive image">
        <div class="absolute">
            <h1 class="display-5">Welcome to the Online Gallery</h1>
            <p class="lead">Share your paintings or make a tour in the gallery to look at the paintings that are already shared</p>
            <hr class="my-4">
            <div class="inner cover">
                <h1 class="cover-heading"></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">Already have an account? <br><a href="{% url 'login' %}"
                                                                        class="btn btn-primary btn-lg">Sign
                            in</a></p>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead"> Do not have an account? <br>
                            <a href="{% url 'signup user' %}" class="btn btn-primary btn-lg">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
