{% extends 'shared/site.html' %}
{% block site_content %}
    {% load bootstrap4 %}
    <div class="d-flex">
        <div class="d-inline p-3 w-60">
            {% if can_like %}
                {% if has_liked %}
                    <h4><a href="{% url 'like painting' painting.id %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></h4>
                {% else %}
                    <h4><a href="{% url 'like painting' painting.id %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a></h4>
                {% endif %}
            {% endif %}
            <p class="mt-2">Thumbs up: {{ painting.like_set.count }}</p>
            <img src="{{ painting.image.url }}" class="img-fluid img-thumbnail" alt="Responsive image">
            {#            <img src="{{ painting.image.url }}" class="w-50 rounded mx-auto d-block">#}

        </div>
        <div class="d-inline p-2 w-50">
            <h5>Details:</h5>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-picture-o" aria-hidden="true"></i> Name: {{ painting.name }}</li>
                <li class="list-group-item"><i class="fa fa-paint-brush" aria-hidden="true"></i> Artist: {{ painting.artist }}</li>
                <li class="list-group-item"><i class="fa fa-tag" aria-hidden="true"></i> Type: {{ painting.type }}</li>
                <li class="list-group-item"><i class="fa fa-object-ungroup" aria-hidden="true"></i> Size: {{ painting.size }}</li>

                    {% if painting.price > 0 %}
                <li class="list-group-item"><i class="fa fa-money" aria-hidden="true"></i> Price: {{ painting.price }} USD</li>
                    {% else %}
                <li class="list-group-item"><i class="fa fa-money" aria-hidden="true"></i> Price: Not for sale</li>
                    {% endif %}
                <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{ painting.user.email }}</li>
                <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> Published by:<a
                        href="{% url 'user profile' painting.user.user_id %}"> {{ painting.user.user.username }}</a>
                </li>
                <li class="list-group-item"><i class="fa fa-commenting" aria-hidden="true"></i> Description: {{ painting.description }}</li>

            </ul>

            {% if can_edit %}
                <a href="{% url 'edit painting' painting.pk %}" class="btn btn-success">Edit</a>
            {% endif %}
            {% if can_delete %}
                <a href="{% url 'delete painting' painting.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>

    </div>
    </div>
    <div class="col-lg-7" style="background-color: #d9e4ef; padding:1%">
        {% if painting.comment_set.exists %}
            {% for comment in painting.comment_set.all %}
                <div class="box">

                    <a href="{% url 'user profile' comment.user_id %}"></a>
                    <h6><em><i class="fa fa-user" aria-hidden="true"></i> {{ comment.name }} said:</em></h6>
                    <h6>{{ comment.text }}</h6>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h5>There are no comments for this painting. </h5>
            </div>
        {% endif %}
{#        {% if can_comment %}#}
            <div class="box">
                <form method="post" action="{% url 'painting details or comment' painting.pk %}">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
            </div>
{#        {% endif %}#}
    </div>
{% endblock %}
